<div style="overflow: auto;">
  <div class="actions">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner diameter="50"></mat-spinner>
      <br>
    </div>
    
    <div class="item-rmst-match" *ngIf="itemRMSTMatch">
      <h3>MATCH!!!</h3>
    </div>
    
    <div class="options-container">
      <mat-checkbox [(ngModel)]="locationCheck">Require LSC Item Location</mat-checkbox>
    </div>

    <div class="options-container">
      <mat-checkbox [(ngModel)]="bigMoveMode">RBM Mode</mat-checkbox>
    </div>
      
    <mat-form-field appearance="outline">
      <mat-label>Item Barcode</mat-label>
      <input #itemBarcode (keydown.enter)="onItemEnterPressed(itemBarcode.value, itemBarcode)" matInput
        placeholder="Item Barcode">
      <mat-icon matSuffix>document_scanner</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RMST Barcode</mat-label>
      <input #rmstBarcode (keydown.enter)="onRMSTEnterPressed(rmstBarcode.value)" matInput placeholder="RMST Barcode">
      <mat-icon matSuffix>document_scanner</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <div class="buttons">
      <div *ngIf="itemList.length > 0 || rmstBarcodeForItems">
        <button mat-raised-button (click)="reset()">Reset</button>
      </div>

      <div *ngIf="itemList.length > 0 && rmstBarcodeForItems">

        <button mat-raised-button color="primary" (click)="onSubmit()">Add RMST to Items</button>
      </div>
    </div>

  </div>

  <div *ngFor="let item of itemList.slice().reverse(); let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h3><b>{{ i + 1}}.</b> {{ item.bib_data.title }}</h3></mat-card-title>
        <span class="mat-spacer"></span>
        <button class="remove-button" mat-icon-button aria-label="Remove" (click)="removeItem(item)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Barcode: {{ item.item_data.barcode }} </mat-list-item>
          <mat-list-item>MMS: {{ item.bib_data.mms_id }} </mat-list-item>
          <div *ngIf="item.item_data.storage_location_id">
            <mat-list-item>RMST: {{ item.item_data.storage_location_id }} </mat-list-item>
          </div>
          <mat-list-item>Call Number: {{ item.holding_data.call_number }} </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <br>
  </div>



</div>
