.actions {
    padding: 1em;
    padding-right: 3em;
    position: sticky; 
    top: 0;
}

.mat-form-field {
    width: 100% !important;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.options-container {
    margin-bottom: 1em;
}
