<div style="overflow: auto;">
  <div class="actions">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner diameter="50"></mat-spinner>
      <br>
    </div>
    
    <div class="item-rmst-match" *ngIf="itemRMSTMatch">
      <h3>MATCH!!!</h3>
    </div>
      
    <mat-form-field appearance="outline">
      <mat-label>Item Barcode</mat-label>
      <input #itemBarcode (keydown.enter)="onItemEnterPressed(itemBarcode.value, itemBarcode)" matInput
        placeholder="Item Barcode">
      <mat-icon matSuffix>document_scanner</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RMST Barcode</mat-label>
      <input #rmstBarcode (keydown.enter)="onRMSTEnterPressed(rmstBarcode.value)" matInput placeholder="RMST Barcode">
      <mat-icon matSuffix>document_scanner</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <div class="buttons">
        <button mat-raised-button (click)="reset()">Reset</button>
    </div>

  </div>



</div>
